<section class="link-list" data-bsi-element="button-full-width">
  <a data-bsi-element-part="link"
    href="[LINKLIST|url=https://www.juliusbaer.com/]"
    target="_blank"
    class="button">
    DOWNLOAD THE FULL REPORT &raquo;
  </a>
  <div data-bsi-dropzone="buttons"
    class="buttons"
    data-bsi-dropzoneallowed-elements="button"
    data-bsi-dropzone-max-number-of-elements="1">
    {% block buttons %}

    {% endblock %}
  </div>
</section>
