<article data-bsi-element="{{ _bsiElementName ? : 'article' }}">
  <div>
    {# <div data-bsi-element-part="html">
      <span name="article-1"></span>
    </div> #}
    <h2 data-bsi-element-part="plain-text">
      The big picture
    </h2>
    <p data-bsi-element-part="plain-text">
      The world econonomy: Still recovering
    </p>
    <div data-bsi-element-part="formatted-text">
      <ul>
        <li>
          Is your portfolio positioned to benefit from the ongoing world
          econonomy recovery?
        </li>
        <li>Where are the opportunities in Q4 2020?</li>
      </ul>
    </div>
    <a data-bsi-element-part="link"
      href="[Article|url=https://www.juliusbaer.com]"
      class="button">
      discover more »
    </a>
    <div data-bsi-dropzone="buttons"
      class="buttons"
      data-bsi-dropzoneallowed-elements="button"
      data-bsi-dropzone-max-number-of-elements="1">
      {% block buttons %}

      {% endblock %}
    </div>
  </div>
  <div data-bsi-dropzoneallowed-elements="image">
  
      <img data-bsi-element-part="image" src="{{
                            src
                                ?
                                : './img/article-1.jpg'
                            }}"  />
 
  </div>
</article>

