<section data-bsi-element="table-of-content">
  <hr />
  <h4 data-bsi-element-part="plain-text">
    CONTENT
  </h4>
  <ul data-bsi-dropzone="toc">
    {% include '../table-of-content-element/table-of-content-element.twig' %}
  </ul>
</section>
