<section data-bsi-element="contact" data-bsi-element-part="formatted-text">
  <p>
    JULIUS BAER GROUP
    <br />Head 111Office<br />
    Bahnhofstrasse 36<br />P.O. Box<br />8010 Zurich<br />Switzerland<br />
    Phone +41 (0) 58 888 1111<br />
    Fax +41 (0) 58 888 1122<br />
    www.juliusbaer.com<br />
  </p>
</section>
